{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить услугу</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<section class="admin-add-usl">
    <div class="add-usl-titl text-center">
        <h1>Добавить услугу</h1>
    </div>
    <form enctype="multipart/form-data"  action="" method="POST">
        {% csrf_token %}
        <table style = "border: 1px solid black;" cellpadding="5" cellspacing="20">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Добавить" name="add">
    </form>
    <div class="text-center">
        <a href="{% url "admin_panel" %}" class = "grn-btn">Назад</a>
    </div>
</section>
{% include 'footer.html' %}
</body>
</html>